/* Font for all */
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
* {
    font-family: 'Rubik', sans-serif;
  }

.navbar-color, .footer {
    background-color: rgb(0, 63, 34);
}

.navbar-brand {
    color: white;
    font-size: 4vh;
    font-weight: bold;
}

.navbar-brand:hover, .navbar-nav:focus
{
    color: rgba(161, 216, 132, 1)
}

.navbar-nav>li>a:hover, .navbar-nav>li>a:focus
{
    color: rgba(161, 216, 132, 1)
}

.navbar-text, .nav-link
{
    color: rgb(0, 0, 0);
    font-size: 2vh;
}

/* Recommended CSS from google for icons */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-light { color: rgba(255, 255, 255, 1); }

.logo { margin-right: 5px; }

.footer-title
{
    font-size: 3vh;
}

.bg-img
{
    background-image: url('images/papyrus.png');
}

.rotated {
    transform: rotate(90deg);
    transition: transform 0.3s ease;
}

.dlsu-green
{
    color: rgb(0, 63, 34);
}

.bold
{
    font-weight: bold;
}

hr
{
    border: 1px solid rgb(0, 63, 34);
    border-radius: 5px;
}

hr.header2{    
    width:30%;
    margin: 0;
}

.peo-img
{
    max-width: 70%;
    height: auto;
}

.landing-pg-logo
{
    width:30%;
}

.rotated-back {
    transform: rotate(0);
    transition: transform 0.3s ease;
}

.card-img-top {
    width: 100%;
    height: 100%; 
   }
   
   .card-title{
   text-align: center; 
   color:#228B22;
    } 
   
   .card-text{ 
   text-align: center;
   }
   
   .sub-hr {
   width: 50%;
    }
   
    .lab-title{ 
   color: rgb(0, 63, 34);
    }
   
   .lab-text{ 
   font-size: 18px;
    } 
   .lab-image{ 
   text-align: center;
    margin-bottom: 20px; }
   
    .card.no-border {
    border: none;
    }
   