/* Font for all */
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
* {
    font-family: 'Rubik', sans-serif;
  }

.navbar-color, .footer {
    background-color: rgb(0, 63, 34);
}

.navbar-brand {
    color: white;
    font-size: 4vh;
    font-weight: bold;
}

.navbar-brand:hover, .navbar-nav:focus
{
    color: rgba(161, 216, 132, 1)
}

.navbar-nav>li>a:hover, .navbar-nav>li>a:focus
{
    color: rgba(161, 216, 132, 1)
}

.navbar-text, .nav-link
{
    color: rgb(0, 0, 0);
    font-size: 2vh;
}

/* Recommended CSS from google for icons */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-light { color: rgba(255, 255, 255, 1); }

.logo { margin-right: 5px; }

.footer-title
{
    font-size: 3vh;
}

.bg-img
{
    background-image: url('images/papyrus.png');
}

.rotated {
    transform: rotate(90deg);
    transition: transform 0.3s ease;
}

.dlsu-green
{
    color: rgb(0, 63, 34);
}

.bold
{
    font-weight: bold;
}

hr
{
    border: 1px solid rgb(0, 63, 34);
    border-radius: 5px;
}

hr.header2{    
    width:30%;
    margin: 0;
}

.peo-img
{
    max-width: 70%;
    height: auto;
}

/*Undergraduate Programs CSS*/
a
{
    color:black;
    text-decoration: none;
}

a:hover
{
    color:black;
    text-decoration: underline;
    text-decoration-color: green;
}

#gradtable1
{
    width: 100%
}

#gradtable1, #gradtable1tr, #gradtable1td
{
    border: 1px solid;
    margin-right: auto;
    border-color: lightgray;
}

input[type="radio"]:checked + .btn {
    color: rgb(0, 0, 0);
    border-color: rgb(244, 244, 244);
    background: rgb(244, 244, 244)!important;
}

input[type="radio"]:hover + .btn {
  color: black;
  background-color: rgb(126, 126, 126);
  border-color: black;
  text-decoration: underline;
}

.btn-group
{
    width: 75%;
    color: black;
    border-color: rgb(200, 200, 200);
    background-color: rgb(200, 200, 200)!important;
}

  #f1
  {
      display:flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-self: flex-end;
  
  }

  #f11
  {
      display: flex;
      justify-content: center;
  }


#contentDisplay {
    animation: fadeInOut 0.3s ease;
  }
  
  @keyframes fadeInOut {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
  }
  
  /* CSS to display the content after the animation */
  #contentDisplay.show {
    animation: fadeIn 0.3s ease;
  }
  
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

.landing-pg-logo
{
    width:30%;
}

#f1
{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-self: flex-end;
  
}

#f11
{
    display: flex;
    justify-content: center;
}

#greenhr
{
    position: relative;
    top: 20px;
    border: none;
    height: 30px;
    opacity: 100;
    background: rgb(109,171,60);
    margin-bottom: 50px;
}

.tg 
{
    border-collapse:collapse;
    border-spacing:0;
    width: 100%;
}
.tg td
{
    border-color:black;
    border-style:solid;
    border-width:1px;
    font-family:Arial, sans-serif;
    font-size:14px;
    overflow:hidden;
    padding:10px 5px;
    word-break:normal;
}
.tg th
{
    border-color:black;
    border-style:solid;
    border-width:1px;
    font-family:Arial, sans-serif;
    font-size:14px;
    font-weight:normal;
    overflow:hidden;
    padding:10px 5px;
    word-break:normal;
}
.tg .tg-wvej
{
    background-color:#7aff96;
    border-color:inherit;
    font-weight:bold;
    text-align:center;
    vertical-align:top
}
.tg .tg-c3ow
{
    border-color:inherit
    ;text-align:center
    ;vertical-align:top
}

.tg .tg-fymr
{
    border-color:inherit;
    font-weight:bold;
    text-align:left;
    vertical-align:top
}
.tg .tg-0pky
{
    border-color:inherit;
    text-align:left;
    vertical-align:top
}
.tg .tg-7btt
{
    border-color:inherit;
    font-weight:bold;
    text-align:center;
    vertical-align:top
}

.tg .tg-6ic8
{border-color:inherit;
    font-weight:bold;
    text-align:right;
    vertical-align:top
}

.rotated-back {
    transform: rotate(0);
    transition: transform 0.3s ease;
}

.card-img-top {
 width: 100%;
 height: 100%; 
}

.card-title{
text-align: center; 
color:#228B22;
 } 

.card-text{ 
text-align: center;
}

.sub-hr {
width: 50%;
 }

 .lab-title{ 
color: rgb(0, 63, 34);
 }

.lab-text{ 
font-size: 18px;
 } 
.lab-image{ 
text-align: center;
 margin-bottom: 20px; }

 .card.no-border {
 border: none;
 }