<!-- Header -->
<div class="row sticky-top">
    <nav class="navbar navbar-color">
      <div class="container">
      <!-- DLSU Logo and University Name -->
      <button class="navbar-toggler position-absolute top-50 start-0 translate-middle-y" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
          <span class="material-icons md-light md-48">menu</span>
      </button>
      <a class = "navbar-brand mx-auto" href="home.html">
          <img src="images/DLSU_white.png" alt="Logo" width=45px height=45px class="d-inline-block align-middle logo">
          De La Salle University
      </a>
      <!-- Side Bar -->
      <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
          <div class="offcanvas-header navbar-color">
              <div class="row">
              <div class="col-2">
                  <img src="images/DLSU_white.png" alt="Logo" width=45px height=45px class="d-inline-block align-middle logo">
              </div>
              <div class="col-8">
                  <h6 class="offcanvas-title text-white text-center" id="offcanvasNavbarLabel">Department of Electronics and Computer Engineering</h6>
              </div>
              <div class="col-2">
                  <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
              </div>
              </div>
          </div>
          <div class="offcanvas-body">
          <ul>
              <li class="list-unstyled">
              <button id="dropdownBtn1" class="custom-dropdown-btn btn align-items-center rounded" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="false">
                  <span class="dropdown-symbol material-icons align-top">arrow_forward_ios</span>Home
              </button>
              <div class="collapse" id="home-collapse">
                  <div class="btn-group-vertical mx-5">
                  <a href="home.html" class="btn text-start">Vision</a>
                  <a href="home.html" class="btn text-start">Mission</a>
                  <a href="home.html" class="btn text-start">Program History</a>
                  </div>
              </div>
              </li>
              <li class="list-unstyled mx-4">
              <a href="elga.html" class="btn text-start" role="button">Expected Lasallian Graduate Attributes (ELGA)</a>
              </li>
              <li class="list-unstyled mx-4">
              <a href="peo.html" class="btn text-start" role="button">Program Educational Objectives (PEO)</a>
              </li>
              <li class="list-unstyled">
                <button  id="dropdownBtn2" class="custom-dropdown-btn btn align-items-center rounded" data-bs-toggle="collapse" data-bs-target="#so-collapse" aria-expanded="false">
                    <span class="dropdown-symbol material-icons align-top">arrow_forward_ios</span>Student Outcomes (SO)
                </button>
                <div class="collapse" id="so-collapse">
                    <div class="btn-group-vertical mx-5">
                    <a href="student_outcomes_electrical.html" class="btn text-start">Electronics Engineering</a>
                    <a href="student_outcomes_computer.html" class="btn text-start">Computer Engineering</a>
                    </div>
                </div>
              </li>
              <li class="list-unstyled mx-4">
              <a href="CMMain.html" class="btn text-start" role="button">Curriculum Map</a>
              </li>
              <li class="list-unstyled">
                <button  id="dropdownBtn2" class="custom-dropdown-btn btn align-items-center rounded" data-bs-toggle="collapse" data-bs-target="#degree-collapse" aria-expanded="false">
                    <span class="dropdown-symbol material-icons align-top">arrow_forward_ios</span>Degree Programs
                </button>
                <div class="collapse" id="degree-collapse">
                    <ul>
                        <li class="list-unstyled">
                            <button  id="dropdownBtn2" class="custom-dropdown-btn btn align-items-center text-start rounded" data-bs-toggle="collapse" data-bs-target="#ugp-collapse" aria-expanded="false">
                                <span class="dropdown-symbol material-icons align-top">arrow_forward_ios</span>Undergraduate Programs 
                            </button>
                            <div class="collapse" id="ugp-collapse">
                                <div class="btn-group-vertical mx-5">
                                <a href="ECE_UGP.html" class="btn text-start">Electronics Engineering</a>
                                <a href="CPE_UGP.html" class="btn text-start">Computer Engineering</a>
                                </div>
                            </div>
                        </li>
                        <li class="list-unstyled mx-4">
                            <a href="CPEECE_GP.html" class="btn text-start">Graduate Programs</a>
                        </li>
                    </ul>
                </div>
              </li>
              <li class="list-unstyled mx-4">
              <a href="EnrollmentStatistics.html" class="btn text-start" role="button">Enrollment and Graduation Statistics</a>
              </li>
              <li class="list-unstyled mx-4">
              <a href="DepartmentOrganizationalStructure.html" class="btn text-start" role="button">Department Organizational Structure</a>
              </li>
              <li class="list-unstyled mx-4">
              <a href="FacultyProfile.html" class="btn text-start" role="button">Faculty Profile</a>
              </li>
              <li class="list-unstyled mx-4">
              <a href="LaboratoryAndFacilities.html" class="btn text-start" role="button">Laboratory and Facilities</a>
              </li>
            <li class="list-unstyled">
                <button  id="dropdownBtn2" class="custom-dropdown-btn btn align-items-center text-start rounded" data-bs-toggle="collapse" data-bs-target="#award-collapse" aria-expanded="false">
                    <span class="dropdown-symbol material-icons align-top">arrow_forward_ios</span>Awards, Recognition, and<br><span class="mx-4">Accreditation</span> 
                </button>
                <div class="collapse" id="award-collapse">
                    <div class="btn-group-vertical mx-5">
                    <a href="FacultyAwards.html" class="btn text-start">Faculty Awards</a>
                    <a href="StudentAwards.html" class="btn text-start">Student Awards</a>
                    <a href="Accreditations.html" class="btn text-start">Accreditations</a>
                    </div>
                </div>
              </li>
          </ul>   
          </div>
      </div>
      </div>
  </nav>
</div>